@charset "utf-8";

/* body and image definitions */
body {
    background-color: #dedeee;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: black;
    text-align:center;
}

td {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: black;
    text-align: left;
}

img {
    border: 0px 0px 0px 0px;
}

/* Hyperlinks */
a {
    text-decoration: none;
}
a:link {
    color: #0b407a;
}
a:visited {
    color: #0b407a;
}

a:hover {
    text-decoration: underline;
    color: #0b407a;
}

a.background {
    text-decoration: none;
}

a.background:link {
    color: #0b407a;
}

a.background:visited {
    color: #0b407a;
}

a.background:hover {
    text-decoration: underline;
    color: #0b407a;
}

/* CLASSES */
.title {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.headertext {
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #666699;
}

.headlinebg {
    background-color: #666699;
}

.tdtop {
    background-color: #C8C8DD;
}

.rankc {
    background-color: #CCCCCC;
}

.hirankc {
    background-color: #AAAAAA;
    font-weight: bold;
}

.rankc10 {
    background-color: #CCCCCC;
    font-size: 10px;
}

.rankc10center {
    background-color: #CCCCCC;
    font-size: 10px;
    text-align: center;
}

.hirankc10center {
    background-color: #AAAAAA;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

.small {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

.asmall {
    font-family: "Arial narrow", Arial, sans-serif;
    font-size: 10px;
    color: black;
    text-align: center;
}

.asmall2 {
    font-family: "Arial narrow", Arial, sans-serif;
    font-size: 10px;
    color: black;
    text-align: center;
    vertical-align: bottom;
}

/* TABLES */
table.tb1 {
    width: 520px;
    padding: 2px 2px 2px 2px;
    border-spacing: 10pt;
    border-width: 0px 0px 0px 0px;
    margin-left:auto; 
    margin-right:auto;
    background-color: #666699;
}
table.tb2 {
    border-width: 0px 0px 0px 0px;
    text-align: center;
    width: 520px;
    margin-left:auto; 
    margin-right:auto;
}

table.tb3 {
    border-width: 0px 0px 0px 0px;
    text-align: center;
    width: 520px;
    margin-left:auto; 
    margin-right:auto;
}

table.tb4 {
    width: 600px;
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid #000;
    background-color: #666699;
    color: #fff;
}
table.tb6 {
    border-width: 0px 0px 0px 0px;
    text-align: center;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
}

/* COLOURS */
.c1 {
    background-color: #c1c1d6;
}
.bf {
    background-color: #bfbfd7;
}
.bb {
    background-color: #bbbbdb;
}

/* MISC */
img.bars {
    width: 40px;
    height: 15px;
    text-align: middle;
}

DIV.centered {
    width:1000px;
    margin:0px auto;
    text-align:center;
}
.div3 {
    margin:0px auto;
    text-align: center;
    position:relative;
}

